In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st

In [4]:
df = pd.read_csv("/Users/siddharthkantamneni/Project/Coastal Stations/USC00043647.csv")

/Users/siddharthkantamneni/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (9,14,19,24,29,34,39,44,49,54,59,64,69,74,79,84,89,94,99,104,109,114,119,124) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
from datetime import datetime

In [42]:
df['Lat'] = np.round(df['Lat'],1)
df['Lon'] = np.round(df['Lon'],1)

In [129]:

dt = np.array([])
for t in df["Year-Month-Day"]:
    a = datetime.strptime(t, '%m/%d/%y')
    dt = np.append(dt, a.month)
 
df["month"] = dt
b = df.groupby(['month']).agg({'Lat':'mean', 'Lon':'mean','DlySum': 'mean'})

In [124]:
df["Year-Month-Day"][0]

'8/1/48'

In [38]:
b.to_csv("b.csv")

In [11]:
names = pd.read_csv("/Users/siddharthkantamneni/Project/coastal-stations.csv")

In [9]:
g = pd.DataFrame([0,0,0,0,0,0,0,0,0,0,0,0,0,0])

In [12]:
i = 0
blacklist = []
whitelist = []
for n in names["StnID"]:
    try:
        df_temp = pd.read_csv("/Users/siddharthkantamneni/Project/Coastal Stations/" +n+".csv")
    except:
        blacklist.append(n)
        continue
    df_temp = df_temp.replace(-9999,0)
    df_temp['Lat'] = np.round(df_temp['Lat'],1)
    df_temp['Lon'] = np.round(df_temp['Lon'],1)
    dt = np.array([])
    for t in df_temp["Year-Month-Day"]:
        a = datetime.strptime(t, '%Y-%m-%d')
        dt = np.append(dt, a.month)
    df_temp["month"] = dt
    b = df_temp.groupby(['month']).agg({'Lat':'mean', 'Lon':'mean','DlySum': 'mean'})
    try:
        g[i] = pd.DataFrame([b.iloc[0][0],b.iloc[0][1],b.iloc[0][2],b.iloc[1][2],b.iloc[2][2],b.iloc[3][2],b.iloc[4][2]\
                           ,b.iloc[5][2],b.iloc[6][2],b.iloc[7][2],b.iloc[8][2],b.iloc[9][2],b.iloc[10][2],b.iloc[11][2]])
        whitelist.append(n)
    except:
        blacklist.append(n)
        continue
    i+= 1

In [210]:
g

,0,1,2,3,4,5,6,7,8,9,...,218,219,220,221,222,223,224,225,226,227
0,30.300000,35.200000,36.200000,35.800000,34.200000,37.000000,33.000000,38.300000,41.800000,34.500000,...,18.400000,18.400000,18.100000,17.700000,18.300000,15.200000,13.400000,13.300000,13.500000,15.100000
1,-88.100000,-120.400000,-121.800000,-121.100000,-118.300000,-121.800000,-116.600000,-122.000000,-124.000000,-119.700000,...,-66.000000,-66.000000,-65.900000,-64.800000,-64.800000,145.800000,144.700000,144.700000,144.700000,145.700000
2,17.106773,15.213423,27.066667,16.586411,10.657335,19.259316,15.176565,13.840176,42.194343,18.519746,...,10.873027,22.369048,12.824360,6.727497,16.027778,11.589372,17.657335,14.449730,12.885358,9.974943
3,18.703448,15.346341,27.143141,15.069899,10.858714,17.613200,19.513274,15.885382,45.059513,23.718989,...,7.792922,11.059459,12.888224,7.097166,7.120690,8.567700,16.648492,13.165025,12.534620,7.610979
4,18.545673,9.387097,17.396127,10.251659,7.617404,13.125189,15.942261,11.550958,41.903971,14.760543,...,6.806362,15.538136,9.747883,9.026964,11.158730,5.863514,8.467854,7.597046,6.528497,5.035219
5,16.543230,3.608232,7.772128,4.888769,3.198813,5.919084,6.672065,4.379972,24.931818,3.712230,...,13.431206,26.898990,14.368914,9.929803,16.055556,8.855974,11.734258,12.049769,9.750554,8.884925
6,17.003195,2.232166,3.454206,1.199703,0.812619,2.577492,2.939417,1.812716,11.728163,1.903526,...,18.330817,32.091787,23.671533,11.743322,22.209677,9.661616,14.740741,13.587838,14.047826,7.802539
7,18.510285,0.369596,1.264078,0.170940,0.207160,0.707383,0.529316,0.546588,5.173107,0.179333,...,13.930065,36.595855,20.747875,10.887902,7.848101,10.974490,24.113514,20.538186,16.394456,10.528947
8,19.703529,0.126138,0.084437,0.132085,0.056983,0.267146,1.403118,0.064047,0.851253,0.041529,...,15.395235,28.571429,20.563307,11.625954,9.816901,28.668630,34.483837,32.686582,34.366091,25.311552
9,21.827663,0.062310,0.334324,0.341243,0.279605,0.451292,1.838074,0.106581,1.551020,0.102219,...,19.056669,25.902542,25.169522,14.482081,20.266667,45.905097,58.086735,47.475517,47.798483,37.703890
10,20.067621,0.195745,0.702791,0.609552,0.525544,1.183516,2.895323,0.917375,6.870048,1.210489,...,18.978723,26.913043,32.210280,21.684460,33.310811,38.396579,50.599550,41.923234,44.955654,35.328933
11,11.398719,2.509745,6.905660,2.879753,1.496831,5.766284,4.981897,3.584396,17.875489,3.000000,...,17.784489,32.167464,33.518790,17.161683,34.653846,34.364668,37.560859,38.294995,39.051020,35.325000
12,13.252855,6.704246,12.786106,8.824596,4.292609,11.503628,8.517941,9.405878,39.690435,6.041817,...,20.943972,29.586957,32.832571,22.620047,16.327103,15.867925,28.658451,25.234002,24.034401,16.636252
13,14.695112,10.847125,28.257426,14.140694,6.289000,16.655849,10.852535,14.596463,48.609649,13.406722,...,15.674674,22.282609,19.281979,11.889145,3.600000,14.355491,21.293785,17.296122,15.163043,10.471963

In [16]:
g.to_csv("/Users/siddharthkantamneni/Project/stations.csv")

In [211]:
whitelist[0]

'USC00012172'

In [17]:
w_df = pd.DataFrame(whitelist)

In [18]:
w_df.to_csv("/Users/siddharthkantamneni/Project/whitelist.csv")

In [22]:
whiter_list = []
blacker_list = []

In [75]:
temp_df = pd.read_csv('/Users/siddharthkantamneni/Project/7890488/city_info.csv')

In [206]:
q = pd.DataFrame([0,0,0,0,0,0,0,0,0,0,0,0,0,0])

In [207]:
OH = 0
for i in temp_df['ID']:
    df_eee = pd.read_csv('/Users/siddharthkantamneni/Project/7890488/'+i+'.fill.csv')
    df_eee['Lat'] = np.round(temp_df['Lat'][OH],1)
    df_eee['Lon'] = np.round(temp_df['Lon'][OH],1)
    df_eee['t_avg'] = (df_eee['tmax']+df_eee['tmin'])/2
    dt = np.array([])
    for t in df_eee["Date"]:
        a = datetime.strptime(t, '%Y-%m-%d')
        dt = np.append(dt, a.year)
    df_eee["Year"] = dt

    dt = np.array([])
    for t in df_eee["Date"]:
        a = datetime.strptime(t, '%Y-%m-%d')
        dt = np.append(dt, a.month)
    df_eee["month"] = dt

    ind_arr = np.where(df_eee["Year"]==1980)
    df_eee1 = df_eee.iloc[ind_arr[0][0]:]

    b = df_eee1.groupby(['month']).agg({'Lat':'mean', 'Lon':'mean','t_avg': 'mean'})
    q[OH] = pd.DataFrame([b.iloc[0][0],b.iloc[0][1],b.iloc[0][2],b.iloc[1][2],b.iloc[2][2],b.iloc[3][2],b.iloc[4][2]\
                           ,b.iloc[5][2],b.iloc[6][2],b.iloc[7][2],b.iloc[8][2],b.iloc[9][2],b.iloc[10][2],b.iloc[11][2]])
    OH+= 1

In [209]:
q.to_csv("/Users/siddharthkantamneni/Project/temps_and_shiz.csv")

In [208]:
q

,0,1,2,3,4,5,6,7,8,9,...,200,201,202,203,204,205,206,207,208,209
0,42.800000,41.200000,44.900000,46.000000,44.900000,46.500000,43.000000,43.100000,43.900000,44.500000,...,35.300000,32.600000,32.100000,33.400000,35.100000,34.700000,32.300000,30.600000,34.600000,33.600000
1,-108.700000,-104.800000,-89.600000,-91.400000,-91.500000,-90.900000,-87.900000,-89.300000,-91.300000,-88.100000,...,-94.400000,-114.600000,-111.000000,-112.000000,-111.700000,-87.600000,-86.400000,-88.100000,-86.800000,-86.700000
2,21.571501,28.631291,15.074752,12.580949,14.446278,13.956376,22.663978,19.202647,17.824085,17.631679,...,39.652854,58.884548,53.255831,56.664682,30.459087,41.153357,47.029735,50.631720,38.141935,43.608850
3,25.622521,29.190327,19.119255,16.154399,18.858258,17.602500,25.936207,22.987387,22.253727,20.847187,...,44.172005,62.076618,56.059211,60.122641,32.712250,45.223732,51.268103,54.242423,54.562500,47.773639
4,36.461929,36.457527,30.513358,28.638349,31.282243,27.800258,35.388710,34.232961,34.635531,31.630108,...,53.129777,67.436382,61.245161,65.915343,37.789744,53.223037,58.269272,60.628205,52.187097,55.237717
5,44.216171,42.769744,44.089829,41.845873,45.413632,40.130081,45.705983,46.584744,48.413675,44.384359,...,61.711880,73.315596,67.843462,73.161325,43.822521,61.712670,64.908632,66.796282,57.886667,62.650299
6,53.455216,52.082878,56.585691,54.075429,57.834739,51.888777,56.357072,58.031844,60.293383,56.319934,...,70.035401,80.724442,76.263049,81.911538,51.482170,69.968326,72.827461,74.155335,76.053226,70.657940
7,63.814611,62.685940,65.583761,62.995557,67.079188,61.263189,66.538547,67.632521,69.795000,65.778291,...,78.481453,89.309289,85.775812,91.358803,60.844172,77.504418,79.663889,80.065598,80.246667,77.804188
8,71.864975,69.546443,70.112448,67.840649,71.699752,67.350658,72.330356,71.901530,74.235815,70.267494,...,82.795120,94.620415,87.528040,94.987800,66.517452,80.717869,82.319313,82.014723,81.264516,81.026551
9,70.143647,67.568280,67.948925,65.447123,69.294789,65.626378,71.180066,69.680935,71.808023,68.227998,...,82.158271,94.430132,85.992875,93.754136,64.618900,79.803893,81.986093,81.790405,81.093548,80.506865
10,59.504371,58.766068,59.278590,57.771578,60.531523,57.545530,63.611880,61.624359,63.451969,60.298590,...,74.396966,89.049187,82.019530,88.557308,58.010616,73.521847,77.058818,77.893205,80.220000,74.813761
11,46.289909,46.464351,46.646399,45.078627,47.372994,45.134160,51.726716,49.431514,50.461163,48.208519,...,63.094996,77.823944,71.830356,77.006576,47.460711,62.232738,66.458519,68.585980,66.154839,64.058065
12,32.078016,35.628186,33.068349,32.074351,33.127735,32.112143,39.293590,36.546752,36.575395,35.610427,...,51.597564,65.869511,60.628846,64.554872,37.429063,52.078119,56.615740,59.484786,47.868333,53.988675
13,21.263830,27.883085,19.950289,18.131269,19.326035,19.022862,27.445451,24.091232,22.982767,22.905335,...,41.870761,57.571343,52.700703,55.836931,30.315385,43.971497,49.648635,53.101823,47.106452,46.511290

In [199]:
df_eee = pd.read_csv('/Users/siddharthkantamneni/Project/7890488/USW00024021.fill.csv')
df_eee['Lat'] = np.round(temp_df['Lat'][OH],1)
df_eee['Lon'] = np.round(temp_df['Lon'][OH],1)
df_eee['t_avg'] = (df_eee['tmax']+df_eee['tmin'])/2

In [200]:
dt = np.array([])
for t in df_eee["Date"]:
        a = datetime.strptime(t, '%Y-%m-%d')
        dt = np.append(dt, a.year)
df_eee["Year"] = dt

dt = np.array([])
for t in df_eee["Date"]:
    a = datetime.strptime(t, '%Y-%m-%d')
    dt = np.append(dt, a.month)
df_eee["month"] = dt

In [201]:
ind_arr = np.where(df_eee["Year"]==1980)
df_eee1 = df_eee.iloc[ind_arr[0][0]:]

In [202]:
b = df_eee1.groupby(['month']).agg({'Lat':'mean', 'Lon':'mean','t_avg': 'mean'})

        Lat    Lon      t_avg
month
1.0    42.8 -108.7  21.571501
2.0    42.8 -108.7  25.622521
3.0    42.8 -108.7  36.461929
4.0    42.8 -108.7  44.216171
5.0    42.8 -108.7  53.455216
6.0    42.8 -108.7  63.814611
7.0    42.8 -108.7  71.864975
8.0    42.8 -108.7  70.143647
9.0    42.8 -108.7  59.504371
10.0   42.8 -108.7  46.289909
11.0   42.8 -108.7  32.078016
12.0   42.8 -108.7  21.263830

In [203]:
b

        Lat    Lon      t_avg
month
1.0    42.8 -108.7  21.571501
2.0    42.8 -108.7  25.622521
3.0    42.8 -108.7  36.461929
4.0    42.8 -108.7  44.216171
5.0    42.8 -108.7  53.455216
6.0    42.8 -108.7  63.814611
7.0    42.8 -108.7  71.864975
8.0    42.8 -108.7  70.143647
9.0    42.8 -108.7  59.504371
10.0   42.8 -108.7  46.289909
11.0   42.8 -108.7  32.078016
12.0   42.8 -108.7  21.263830

In [205]:
print(b)

        Lat    Lon      t_avg
month
1.0    42.8 -108.7  21.571501
2.0    42.8 -108.7  25.622521
3.0    42.8 -108.7  36.461929
4.0    42.8 -108.7  44.216171
5.0    42.8 -108.7  53.455216
6.0    42.8 -108.7  63.814611
7.0    42.8 -108.7  71.864975
8.0    42.8 -108.7  70.143647
9.0    42.8 -108.7  59.504371
10.0   42.8 -108.7  46.289909
11.0   42.8 -108.7  32.078016
12.0   42.8 -108.7  21.263830